<!DOCTYPE html>
<html lang="en" ng-app="toDoList">
    <link  rel="stylesheet" href="src/style/style.css">
    <script src="../node_modules/angular/angular.js" type="text/javascript"></script>
    <script src="src/js/main.js" type="text/javascript"></script>
    <div id="myDIV" class="task-list-header" ng-controller="inputController">
        <h2>Akveo To Do List</h2>
        <input type="text" class="input-new-task" id="itemInput" placeholder="Item name..." size="100" ng-model="taskName">
        <input type="button" class="add-new-task-btn" id="addBtn" value="Add" ng-model="addBtn">
        <form id="sortDiv" action="" ng-controller="taskSortController">
            <input type="radio" name="sort" id="all"  class="group-radio-btn" ng-model="allRadioSort"><label class="radio-btn-label" id="allTasks">{{allLabelSort}}</label>
            <input type="radio" name="sort" id="complete"  class="group-radio-btn" ng-model="completeRadioSort"><label class="radio-btn-label" id="completeTasks">{{completeLabelSort}}</label>
            <input type="radio" name="sort" id="active"  class="group-radio-btn" ng-model="activeRadioSort"><label  class="radio-btn-label" id="activeTasks">{{activeLabelSort}}</label>
        </form>
    </div>
    <div class="task-list-div" id ="taskListBackgroundDiv" ng-controller="taskListController">
        <ul class="task-list" id="myList">{{taskList}}</ul>
    </div>
    <div id="btnDiv" class="footer" ng-controller="listOperationsController">
          <div class="active-tasks">
             <label>Active tasks: </label>
             <label id="itemsNum">{{activeElements}}</label>
         </div>
        <input type="button" class="check-uncheck-btn" id = "checkUncheck" value="Check/Uncheck All" ng-model="checkUncheckBtn">
        <input type="button" class="del-checked-btn" id="delBtn" value="Delete checked" ng-model="delCheckedBtn">
    </div>
</html>