<div class="task-list-header">
    <h2>Akveo To Do List</h2>
    <input class="input-new-task" placeholder="Item name..." size="100" ng-model="$ctrl.name">
    <input type="button" class="add-new-task-btn" value="Add" ng-model="$ctrl.addBtn" ng-click="$ctrl.addTask($ctrl.name)">
    <div class="task-list-div">
        <form>
            <input id="allFilter" type="radio" name="sort" ng-model="$ctrl.search.check"  class="group-radio-btn"><label  for="allFilter" class="radio-btn-label-selected" id="allTasks" ng-model="$ctrl.allTasks" ng-class="$ctrl.allTasksclass" ng-click="$ctrl.allLabelSort()">All</label>
            <input id="completeFilter" type="radio" name="sort" ng-model="$ctrl.search.check"  class="group-radio-btn"  ng-value='true'><label for="completeFilter" class="radio-btn-label" id="completeTasks" ng-model="$ctrl.completeTasks" ng-class="$ctrl.completeTasksclass"  ng-click="$ctrl.completeLabelSort()">Complete</label>
            <input id="activeFilter" type="radio" name="sort" ng-model="$ctrl.search.check"  class="group-radio-btn" ng-value='false'><label for="activeFilter" class="radio-btn-label" id="activeTasks" ng-model="$ctrl.activeTasks" ng-class="$ctrl.activeTasksclass" ng-click="$ctrl.activeLabelSort()">Active</label>
        </form>
        <ul class="task-list">
            <li ng-repeat="task in $ctrl.tasks | filter:$ctrl.search"  class="task-element">
                <input type="checkbox" class="task-checkbox-visible" ng-model="task.check" ng-click="$ctrl.taskCheck(task)"/>
                <p class="task-visible">{{task.name}}</p>
                <input id="closeBtn" type="button" class="task-close-btn" value="x" ng-click="$ctrl.closeTask(task)"/>
            </li>
        </ul>
    </div>
    <div class="active-tasks">
        <label ng-model="$ctrl.activeElements">Active tasks: {{$ctrl.activeElements}}</label>
    </div>
    <input type="button" class="check-uncheck-btn" value="Check/Uncheck All" ng-model="$ctrl.checkUncheckBtn" ng-click="$ctrl.toggleCheckBtn()">
    <input type="button" class="del-checked-btn" value="Delete checked" ng-model="$ctrl.delCheckBtn" ng-click="$ctrl.delCheckedBtn()">
</div>